.leaflet-container {
    background: #fff;
}
.leaflet-popup-content {
	width: 365px !important;
}
.leaflet-tooltip {
    background: none;
    box-shadow: none;
    border: none;
}
.leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    border: 0px;
}

th {
	font-family: Segoe UI, Arial;
	font-size: 12px;
	text-align: left;
	
}

td {
	font-family: Segoe UI, Arial;
	font-size: 12px;
	text-align: left;
}

url {
	font-family: Segoe UI, Arial;
	font-size: 12px;
	text-align: left;
}
